body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img,
abbr {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ul li {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

legend {
  color: #000;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  max-width: 1840px;
  margin: 0 auto;
  padding-left: 70px;
  padding-right: 70px;
}

::-webkit-input-placeholder {
  color: #666;
}

::-moz-placeholder {
  color: #666;
}

:-ms-input-placeholder {
  color: #666;
}

::placeholder {
  color: #666;
}

::-moz-selection {
  background-color: #F3D884;
  color: #fff;
}

::selection {
  background-color: #F3D884;
  color: #fff;
}

section {
  position: relative;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  color: #1e1e1e;
  background-color: #f7f7f7;
  min-width: 320px;
  position: relative;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

.section-title {
  font-size: 35px;
  line-height: 40px;
  font-weight: 500;
}

.section-subtitle {
  font-size: 18px;
  line-height: 24px;
}

/* Наследуем шрифты для инпутов и кнопок */

input,
button,
textarea,
select {
  font: inherit;
}

textarea {
  resize: none;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */

*:focus:not(:focus-visible) {
  outline: none !important;
}

input[type='submit'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.text-center {
  text-align: center;
}

.title-animation-idle {
  display: block;
  -webkit-transform: translate(0, 5rem);
          transform: translate(0, 5rem);
  transition: all 0.6s ease;
  opacity: 0;
}

.title-animation-idle.activate-animation {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.text-animation-idle {
  opacity: 0;
  transition: all 2s ease;
}

.text-animation-idle.activate-animation {
  opacity: 1;
}

.btn {
  display: inline-block;
  padding: 10px 16px;
  color: #1e1e1e;
  text-decoration: none;
  font-size: 13px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  text-align: center;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: linear-gradient(90deg, rgba(218, 175, 83), #d19e4d, #fff9b1, #f1d37d);
  box-shadow: 0px 6px 32px 0px rgba(49, 50, 53, 0.75);
}

.btn:hover {
  -webkit-animation: none;
          animation: none;
  box-shadow: none;
  -webkit-transform: translateY(-5px) scale(1.02);
          transform: translateY(-5px) scale(1.02);
  background: linear-gradient(90deg, rgba(218, 175, 83), #d19e4d, #f1d37d);
}

.btn-o {
  border: 2px solid #013b66;
  color: #013b66;
  background: transparent;
  box-shadow: none;
}

.btn-o:hover {
  color: #ffffff;
  background: #013b66;
  -webkit-transform: none;
          transform: none;
}

.btn-o-w {
  border-color: #ffffff;
  color: white;
}

.btn-o-w:hover {
  color: #013b66;
  background: #ffffff;
  border-color: #013b66;
}

.btn-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 54px;
  height: 54px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  z-index: 95;
  box-shadow: 0px 13px 16px 0px rgba(164, 164, 164, 0.2);
}

.btn-bottom + .btn-bottom {
  margin-top: 5px;
}

.btn-up {
  background-color: #013b66;
  transition: opacity 0.2s;
}

.btn-wa {
  background-color: #7ad06d;
}

.btn-tg {
  background-color: #1c8adb;
}

.header {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 2;
}

.header a {
  color: inherit;
  text-decoration: none;
}

.header a:hover {
  text-decoration: underline;
}

.header__top {
  padding: 8px 0;
  color: #ffffff;
  background-color: #013b66;
}

.header__top-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__top-content p {
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}

.header__top-content a {
  margin-left: 20px;
}

.header__top-content a + a {
  margin-left: 15px;
}

.header__bottom {
  position: relative;
  padding: 14px 0;
  background: transparent;
  transition: all 0.3s ease;
}

.header__bottom.sticky {
  position: fixed;
  width: 100%;
  padding: 5px 0;
  z-index: 9999;
  background: #fff;
  top: 0;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.18);
}

.header__bottom-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1840px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.header .logo {
  width: 20%;
  padding: 0 30px;
}

.header .nav {
  width: 40%;
  max-width: 100%;
}

.header .nav a {
  padding: 10px;
}

.header .nav.nav--open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.header__menu {
  display: flex;
  flex-wrap: wrap;
}

.header__menu li {
  font-weight: 400;
  font-size: 14px;
}

.header__menu li a {
  padding: 10px;
}

.header__more {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header__more li + li {
  margin-left: 13px;
}

.header__login svg {
  margin-right: 5px;
}

.header__login a {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  text-decoration: underline;
}

.header__contact {
  flex-shrink: 0;
}

.header__tel {
  font-size: 21px;
  font-weight: 500;
}

.header__burger {
  display: none;
  z-index: 13;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 19px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.header__burger:focus {
  outline: none;
}

.header__burger > span {
  display: inline-block;
  width: 100%;
  height: 1px;
  background: #1e1e1e;
  position: relative;
  transition: background 0.5s 0.5s;
  border-radius: 30px;
}

.header__burger > span:before,
.header__burger > span:after {
  content: '';
  position: absolute;
  left: 0;
  height: 1px;
  background: #1e1e1e;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  transition: top 0.5s 0.5s, -webkit-transform 0.5s;
  transition: top 0.5s 0.5s, transform 0.5s;
  transition: top 0.5s 0.5s, transform 0.5s, -webkit-transform 0.5s;
  border-radius: 30px;
}

.header__burger > span:before {
  width: 100%;
  top: -8px;
}

.header__burger > span:after {
  width: 100%;
  top: 8px;
}

.header__burger--close {
  position: relative;
  z-index: 15;
}

.header__burger--close > span {
  transition: background 0.5s;
  background: transparent;
}

.header__burger--close > span:before,
.header__burger--close > span:after {
  width: 100%;
  transition: top 0.5s, -webkit-transform 0.5s 0.5s;
  transition: top 0.5s, transform 0.5s 0.5s;
  transition: top 0.5s, transform 0.5s 0.5s, -webkit-transform 0.5s 0.5s;
  top: 0;
  background-color: #1e1e1e;
}

.header__burger--close > span:before {
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
          transform: rotate3d(0, 0, 1, 45deg);
}

.header__burger--close > span:after {
  -webkit-transform: rotate3d(0, 0, 1, -45deg);
          transform: rotate3d(0, 0, 1, -45deg);
}

.header__mobile {
  display: none;
}

.hero {
  background-color: #76757a;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: bottom, 60px;
  background-size: contain, cover;
  background-image: url(../img/goldypole-text.svg), url(../img/hero-bg-1.jpg);
}

.hero__content {
  height: 100vh;
  min-height: 500px;
  max-height: 900px;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.hero__title {
  margin-bottom: 45px;
  font-size: 70px;
  line-height: 75px;
  font-weight: 400;
}

.hero__btn {
  padding: 10px 60px;
}

.way {
  padding-top: 70px;
  padding-bottom: 120px;
}

.way__title {
  margin-bottom: 20px;
}

.way__subtitle {
  margin-bottom: 56px;
}

.way__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  justify-content: center;
  max-width: 1030px;
  margin: 0 auto;
}

.way__item {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(33.333333333333336% - 30px);
  margin-bottom: 53px;
  text-align: center;
}

.way__item:hover .way__btn-wrapper {
  -webkit-transform: none;
          transform: none;
}

.way__pic {
  position: relative;
  margin: 0 auto;
  margin-bottom: 50px;
  width: 237px;
  height: 237px;
  border-radius: 50%;
  border: 10px solid #013b66;
  box-shadow: 0px 6px 32px 0px rgba(199, 199, 199, 0.75);
  background-color: #013b66;
  overflow: hidden;
}

.way__pic img {
  -o-object-fit: cover;
     object-fit: cover;
}

.way__header {
  margin-bottom: 20px;
  font-size: 25px;
  line-height: 33px;
  font-weight: 700;
  text-transform: uppercase;
}

.way__descr {
  font-size: 14px;
  line-height: 18px;
  max-width: 290px;
  margin: 0 auto;
}

.way__btn-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all 0.3s ease;
  background: linear-gradient(0deg, rgba(1, 62, 107, 0.7) 0%, #01223b 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}

.banner {
  position: relative;
  padding-top: 94px;
  padding-left: 143px;
  padding-bottom: 68px;
  background-color: #fff;
  background-image: url(../img/way-banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: right;
  background-position-y: center;
  border-radius: 20px;
  background-color: #e3d3e5;
  box-shadow: 0px 6px 32px 0px rgba(199, 199, 199, 0.75);
}

.banner::after {
  display: none;
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 100%;
  height: 400px;
  background-repeat: no-repeat;
  background-position-y: -10px;
  background-position-x: center;
  background-size: cover;
  background-image: url(../img/way-mob.jpg);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.banner__box {
  padding-top: 92px;
  padding-bottom: 97px;
}

.banner__box--p {
  padding: 0;
  margin-top: -145px;
}

.banner__header {
  margin-bottom: 24px;
  max-width: 65%;
  font-size: 35px;
  line-height: 40px;
  font-weight: 500;
}

.banner__descr {
  margin-bottom: 47px;
  max-width: 45%;
  font-size: 18px;
  line-height: 24px;
}

.banner__small {
  font-size: 13px;
  padding: 5px 0;
}

.banner__btn {
  margin-bottom: 30px;
  padding: 10px 60px;
}

.nut__banner {
  background-color: #5084a9;
  background-image: url(../img/nut-bg.jpg);
}

.nut__banner::after {
  background-image: url(../img/nut-mob.jpg);
}

.pay__banner {
  background-position-x: 64%;
  background-image: url(../img/pay-banner.jpg);
}

.pay__banner::after {
  background-position-y: 0;
  background-image: url(../img/pay-mob.jpg);
}

.abon {
  padding-top: 60px;
  padding-bottom: 190px;
  color: #ffffff;
  background-color: #76757a;
  background-repeat: no-repeat;
  background-image: url(../img/goldypole-only-text.svg);
  background-position-x: left;
  background-position-y: top;
  overflow-x: hidden;
}

.abon__title {
  margin-bottom: 20px;
}

.abon__subtitle {
  margin-bottom: 70px;
  font-size: 16px;
}

.abon__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  justify-content: center;
  align-items: center;
  max-width: 1170px;
  margin: 0 auto;
}

.abon__item {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(50% - 30px);
  margin-bottom: 70px;
  padding: 0 60px;
}

.abon__item:nth-child(even):not(.abon__banner) {
  border-left: 1px solid #ffffff;
}

.abon__item:not(.abon__banner) .abon__header {
  margin-bottom: -13px;
  font-weight: 700;
  font-size: 60px;
  text-transform: uppercase;
  color: #76757a;
  text-shadow: 0 -1px 1px #F3D884, 0 -1px 1px #F3D884, 0 1px 1px #F3D884, 0 1px 1px #F3D884, -1px 0 1px #F3D884, 1px 0 1px #F3D884, -1px 0 1px #F3D884, 1px 0 1px #F3D884, -1px -1px 1px #F3D884, 1px -1px 1px #F3D884, -1px 1px 1px #F3D884, 1px 1px 1px #F3D884, -1px -1px 1px #F3D884, 1px -1px 1px #F3D884, -1px 1px 1px #F3D884, 1px 1px 1px #F3D884;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.abon__item:not(.abon__banner) .abon__count {
  margin-bottom: 14px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 32px;
}

.abon__descr {
  margin-bottom: 38px;
  max-width: 380px;
}

.abon__descr li {
  margin-bottom: 17px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.abon__pay {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.abon__price {
  margin-right: 35px;
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 35px;
}

.abon__btn {
  padding: 10px 60px;
  margin-bottom: 35px;
}

.abon__banner {
  position: relative;
  padding: 50px 37px 35px;
  border-radius: 15px;
  border: 3px solid #F3D884;
  border-left-color: #F3D884;
}

.abon__banner::after {
  position: absolute;
  content: '';
  left: 80%;
  top: -6%;
  background: url(../img/gift.png) no-repeat;
  width: 270px;
  height: 300px;
}

.abon__banner .abon__header {
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  color: #ffffff;
}

.abon__banner .abon__count {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

.shedule {
  padding-top: 125px;
  padding-bottom: 50px;
}

.shedule__title {
  margin-bottom: 60px;
}

.shedule__box {
  position: relative;
  z-index: 1;
  background-color: #76757a;
  height: 700px;
}

.shedule__loading {
  color: #ffffff;
  font-size: 40px;
  font-weight: 700;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 700px;
}

.recruit {
  padding-top: 50px;
  padding-bottom: 109px;
}

.recruit__content {
  padding: 70px 200px;
  border: 1px solid #76757a;
  border-radius: 15px;
  background-color: #ffffff;
  background-image: url(../img/round-girl.svg);
  background-repeat: no-repeat;
  background-position-x: 28px;
  background-position-y: bottom;
}

.recruit__title {
  margin-bottom: 30px;
}

.recruit__info {
  max-width: 1026px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
}

.recruit__wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.recruit__advantages {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(66.66666666666667% - 30px);
}

.recruit__advantages li {
  margin-bottom: 40px;
  position: relative;
  padding-left: 70px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
}

.recruit__advantages li::before {
  position: absolute;
  content: '';
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-repeat: no-repeat;
}

.recruit__advantages li:first-child::before {
  width: 37px;
  height: 28px;
  background-image: url(../img/rec-1.svg);
}

.recruit__advantages li:nth-child(2)::before {
  width: 25px;
  height: 22px;
  background-image: url(../img/rec-2.svg);
}

.recruit__advantages li:nth-child(3)::before {
  width: 37px;
  height: 46px;
  background-image: url(../img/rec-3.svg);
}

.recruit__advantages li:nth-child(4)::before {
  width: 25px;
  height: 38px;
  background-image: url(../img/rec-4.svg);
}

.recruit__advantages li:nth-child(5)::before {
  width: 32px;
  height: 31px;
  background-image: url(../img/rec-5.svg);
}

.recruit__advantages li:nth-child(6)::before {
  width: 34px;
  height: 31px;
  background-image: url(../img/rec-6.svg);
}

.recruit__banner {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(33.333333333333336% - 30px);
  width: 330px;
  max-width: 100%;
  flex-shrink: 0;
  padding: 45px 40px 60px;
  color: #ffffff;
  background-color: #013b66;
  border-radius: 15px;
}

.recruit__banner h3 {
  margin-bottom: 45px;
  font-size: 25px;
  line-height: 28px;
  font-weight: 700;
}

.recruit__banner p {
  margin-bottom: 50px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
}

.recruit__btn {
  padding: 10px 60px;
}

.feedback {
  padding-top: 76px;
  padding-bottom: 67px;
  background-repeat: no-repeat;
  background-color: #76757a;
  background-position: center;
  background-size: cover;
  background-image: url(../img/feedback-bg.jpg);
}

.feedback__title {
  margin-bottom: 57px;
  color: #ffffff;
}

.feedback__list {
  position: relative;
  width: 350px;
  max-width: 100%;
  height: 690px;
  background: url(../img/iphone-frame.svg) no-repeat;
}

.feedback__item {
  padding: 50px 40px;
}

.feedback__top {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.feedback__img {
  margin-right: 20px;
}

.feedback__header {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
}

.feedback__date {
  font-weight: 400;
  font-size: 12px;
}

.feedback__bottom {
  font-size: 14px;
  line-height: 18px;
}

.feedback__last .feedback__top {
  padding: 0 20px;
  margin-top: 90px;
  margin-bottom: 12px;
}

.feedback__last .feedback__header {
  font-size: 20px;
  line-height: 26px;
}

.feedback__last .feedback__bottom {
  margin-bottom: 70px;
  padding: 0 20px;
  font-size: 16px;
  line-height: 21px;
}

.feedback__pagination {
  bottom: 0!important;
}

.feedback__pagination .swiper-pagination-bullet {
  background: transparent;
  border: 1px solid #ffffff;
}

.feedback__pagination .swiper-pagination-bullet-active {
  background: #ffffff;
}

.feedback .swiper-button-prev,
.feedback .swiper-button-next {
  width: 35px;
  height: 35px;
  background-color: #013b66;
  border-radius: 50%;
  box-shadow: 0px 10px 8.2px 1.8px rgba(0, 0, 0, 0.08);
  opacity: 0.9;
}

.feedback .swiper-button-next {
  right: 0;
}

.feedback .swiper-button-prev {
  left: 0;
}

.feedback .swiper-button-prev::after,
.feedback .swiper-button-next::after {
  display: none;
}

.feedback__btns {
  padding-top: 36px;
  padding-bottom: 10px;
  text-align: center;
}

.feedback__btn {
  padding: 10px 60px;
}

.faq {
  padding-top: 72px;
  padding-bottom: 83px;
  overflow-x: hidden;
}

.faq__content {
  max-width: 830px;
  margin: 0 auto;
}

.faq__title {
  margin-bottom: 60px;
}

.faq__list {
  margin-bottom: 65px;
  font-size: 16px;
  line-height: 21px;
}

.faq__item {
  margin-bottom: 35px;
  padding-left: 40px;
}

.faq__question {
  position: relative;
  cursor: pointer;
}

.faq__question::before {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: -40px;
  width: 20px;
  height: 20px;
  background: linear-gradient(#1e1e1e, #1e1e1e), linear-gradient(#1e1e1e, #1e1e1e);
  background-position: center;
  background-size: 100% 2px,2px 100%;
  background-repeat: no-repeat;
}

.faq__question--open::before {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: -40px;
  width: 20px;
  height: 20px;
  background: linear-gradient(#1e1e1e, #1e1e1e);
  background-position: center;
  background-size: 100% 2px;
  background-repeat: no-repeat;
}

.faq__answer {
  margin-top: 13px;
}

.faq__form {
  position: relative;
  padding: 37px 50px 25px;
  background-color: #ffffff;
  border: 1px solid #76757a;
  border-radius: 15px;
  box-shadow: 0px 6px 32px 0px rgba(199, 199, 199, 0.75);
}

.faq__form::before {
  position: absolute;
  content: '';
  left: 90%;
  bottom: 90%;
  background-image: url(../img/crown.png);
  background-repeat: no-repeat;
  width: 152px;
  height: 135px;
}

.faq__form-title {
  margin-bottom: 17px;
  font-size: 24px;
  line-height: 26px;
  font-weight: 500;
}

.faq__form-subtitle {
  margin-bottom: 45px;
  font-size: 14px;
  line-height: 18px;
}

.faq__form-btn {
  margin-bottom: 22px;
  padding: 10px 60px;
}

.faq__form a {
  color: inherit;
}

.faq .form__group {
  max-width: 525px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.faq .form__group input {
  margin-bottom: 15px;
  width: 250px;
  max-width: 100%;
}

.faq .form__group textarea {
  margin-bottom: 35px;
  width: 100%;
  height: 100px;
  display: block;
}

.faq .form__agree {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.rent {
  padding-top: 78px;
  padding-bottom: 68px;
  color: #ffffff;
  background-color: #013b66;
  background-image: url(../img/rent-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}

.rent::after {
  display: none;
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 100%;
  height: 203px;
  background: url(../img/rent-mob.jpg) no-repeat center / cover;
}

.rent__content {
  max-width: 1170px;
  margin: 0 auto;
}

.rent__title {
  margin-bottom: 24px;
  max-width: 50%;
}

.rent p {
  max-width: 50%;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 50px;
}

.rent__list {
  max-width: 60%;
  margin-bottom: 42px;
  text-align: left;
}

.rent__list li {
  list-style: disc;
  margin-bottom: 3px;
}

.rent__btn {
  margin-bottom: 36px;
  padding: 10px 60px;
}

.franch {
  padding-top: 158px;
  padding-bottom: 107px;
  background-color: #76757a;
  background-image: url(../img/franch.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: right;
  background-position-y: center;
  color: #ffffff;
}

.franch::after {
  display: none;
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 100%;
  height: 387px;
  background: url(../img/franch-mob.jpg) no-repeat right center / cover;
}

.franch__content {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  max-width: 1170px;
  margin: 0 auto;
}

.franch__info {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(66.66666666666667% - 30px);
}

.franch__title {
  margin-bottom: 30px;
}

.franch p {
  max-width: 580px;
  margin-bottom: 17px;
  font-size: 18px;
}

.franch p + p {
  margin-bottom: 50px;
}

.franch__btn {
  margin-bottom: 36px;
  padding: 10px 60px;
}

.contacts {
  padding-top: 63px;
  padding-bottom: 65px;
}

.contacts__content {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  align-items: center;
  max-width: 1170px;
  margin: 0 auto;
}

.contacts__info {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(41.66666666666667% - 30px);
  margin-bottom: 40px;
}

.contacts__map {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(58.333333333333336% - 30px);
}

.contacts__title {
  margin-bottom: 43px;
  font-size: 18px;
  line-height: 24px;
}

.contacts__list {
  margin-bottom: 37px;
  font-weight: 400;
}

.contacts__list li {
  position: relative;
  margin-bottom: 15px;
  padding-left: 24px;
  max-width: 210px;
}

.contacts__list li::before {
  position: absolute;
  content: '';
  top: 0;
}

.contacts__list li:first-child:before {
  left: -10px;
  width: 34px;
  height: 46px;
  background: url(../img/contacts-pick.svg) no-repeat;
}

.contacts__list li:last-child:before {
  left: -6px;
  width: 26px;
  height: 26px;
  background: url(../img/contacts-phone.svg) no-repeat;
}

.contacts__list a {
  text-decoration: none;
  color: inherit;
}

.contacts__list a:hover {
  text-decoration: underline;
}

.contacts__map {
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #76757a;
}

.footer {
  padding-top: 35px;
  padding-bottom: 24px;
  color: #ffffff;
  background-color: #013b66;
}

.footer a {
  color: #ffffff;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.footer__top {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.footer .logo {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(25% - 30px);
  margin-bottom: 30px;
}

.footer .logo img {
  -webkit-filter: invert(99%) sepia(89%) saturate(485%) hue-rotate(186deg) brightness(119%) contrast(100%);
          filter: invert(99%) sepia(89%) saturate(485%) hue-rotate(186deg) brightness(119%) contrast(100%);
}

.footer__menu {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(16.666666666666668% - 30px);
  margin-bottom: 30px;
}

.footer__menu li {
  margin-bottom: 3px;
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
}

.footer__contacts {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(25% - 30px);
  margin-bottom: 30px;
  text-align: right;
}

.footer__contacts p {
  margin-bottom: 3px;
  font-size: 18px;
  font-weight: 500;
}

.footer__contacts p + p {
  margin-bottom: 20px;
}

.footer__social li {
  display: inline-block;
}

.footer__social li + li {
  margin-left: 5px;
}

.footer__bottom {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.footer__copy {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(50% - 30px);
  margin-bottom: 30px;
}

.footer__pay {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(50% - 30px);
  margin-bottom: 30px;
  text-align: right;
}

.footer__pm {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.footer__pm li + li {
  margin-left: 15px;
}

.glightbox-container .ginner-container {
  align-items: center;
}

.glightbox-container .gprev,
.glightbox-container .gnext {
  display: none;
}

.gslide-inline {
  max-width: 280px;
  padding: 54px 16px 23px;
  border-radius: 5px;
  background: #ffffff url(../img/popup-bg.jpg) no-repeat center / cover !important;
}

.gslide-inline .ginlined-content {
  padding: 0;
  text-align: center;
}

.goverlay {
  height: 100%;
}

.popup__header {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 15px;
}

.popup__btn {
  margin-top: 50px;
}

.form__input {
  text-align: left;
  padding: 8px;
  font-weight: 400;
  font-size: 12px;
  border-radius: 5px;
  border: 1px solid #76757a;
}

.bottom {
  position: fixed;
  right: 10px;
  bottom: 70px;
  z-index: 999;
}

@media screen and (max-width: 1200px) {
  .header__bottom {
    background: #ffffff;
    padding: 5px 0;
  }

  .header .logo {
    width: auto;
  }

  .header .logo img {
    width: 124px;
    height: 45px;
  }

  .header .nav {
    width: 320px;
    -webkit-transform: translateX(-150%);
            transform: translateX(-150%);
    display: none;
    -webkit-transform-origin: right top;
            transform-origin: right top;
    transition: all 0.5s ease-in-out;
    display: flex;
    position: absolute;
    left: 0;
    top: 50px;
    z-index: 12;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
    color: #1e1e1e;
    background-color: #ffffff;
  }

  .header__menu {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 10px;
  }

  .header__menu li {
    margin-bottom: 10px;
  }

  .header__more {
    width: auto;
  }

  .header__login a > span {
    display: none;
  }

  .header__social,
  .header__contact {
    display: none;
  }

  .header__burger {
    display: block;
    display: flex;
  }

  .header__mobile {
    display: block;
  }

  .hero {
    background-position-x: center, -500px;
  }

  .hero__title {
    font-size: 35px;
    line-height: 40px;
  }

  .banner {
    padding: 54px 34px;
  }

  .banner__header {
    font-size: 23px;
    line-height: 25px;
  }

  .banner__descr {
    font-size: 16px;
    line-height: 21px;
  }

  .abon__item {
    text-align: center;
  }

  .abon__item:not(.abon__banner) {
    padding: 0 36px;
  }

  .abon__item:not(.abon__banner) .abon__header {
    font-size: 45px;
  }

  .abon__pay {
    justify-content: center;
  }

  .abon__price {
    margin-left: 35px;
  }

  .abon__banner::after {
    left: 80px;
    top: 80px;
  }

  .abon__banner .abon__header {
    font-size: 25px;
    line-height: 30px;
  }

  .abon__banner .abon__count {
    font-size: 16px;
    line-height: 21px;
  }

  .recruit__content {
    padding: 45px 37px;
  }

  .footer__menu {
    width: calc(25% - 30px);
  }

  .footer__contacts {
    width: calc(100% - 30px);
  }
}

@media screen and (max-width: 992px) {
  .container {
    padding-left: 70px;
    padding-right: 70px;
  }

  .section-title {
    font-size: 25px;
    line-height: 30px;
  }

  .section-subtitle {
    font-size: 16px;
    line-height: 24px;
  }

  .hero {
    background-position-x: center, -700px;
  }

  .way {
    padding-top: 65px;
    padding-bottom: 63px;
  }

  .way__list {
    max-width: 100%;
  }

  .way__item {
    width: calc(50% - 30px);
  }

  .way__header {
    margin-bottom: 23px;
    font-size: 21px;
    line-height: 25px;
  }

  .banner {
    background-position-x: 74%;
  }

  .pay__banner {
    background-position-x: 64%;
  }

  .abon__item {
    width: calc(66.66666666666667% - 30px);
  }

  .abon__item:nth-child(even):not(.abon__banner) {
    border-left: none;
  }

  .abon__item:not(.abon__banner) {
    border-bottom: 1px solid #ffffff;
  }

  .abon__descr {
    margin: 0 auto;
  }

  .recruit {
    padding-top: 30px;
    padding-bottom: 58px;
  }

  .recruit__info {
    font-size: 16px;
    line-height: 21px;
  }

  .recruit__advantages li {
    margin-bottom: 34px;
    font-size: 14px;
  }

  .recruit__banner {
    padding: 40px 30px 50px;
  }

  .feedback {
    padding-top: 60px;
    padding-bottom: 50px;
  }

  .faq {
    padding-bottom: 36px;
    padding-top: 55px;
  }

  .franch {
    padding-top: 48px;
    padding-bottom: 65px;
    background-position-x: -550px;
  }

  .footer .logo {
    width: calc(100% - 30px);
  }

  .footer__menu {
    width: calc(33.333333333333336% - 30px);
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .header__top-content p {
    display: none;
  }

  .header__top-content a {
    margin-left: 0;
  }

  .hero {
    background: #76757a url(../img/banner-320.jpg) no-repeat center bottom / cover;
  }

  .hero__content {
    align-items: center;
    text-align: center;
  }

  .shedule {
    padding-top: 55px;
  }

  .recruit__content {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    background-position-x: 150px;
    background-position-y: top;
    background-size: 130%;
  }

  .recruit__title {
    padding: 0 13px;
  }

  .recruit__info {
    padding: 0 13px;
  }

  .recruit__wrapper {
    flex-wrap: wrap;
  }

  .recruit__advantages {
    width: calc(100% - 30px);
  }

  .recruit__advantages {
    padding: 0 13px;
  }

  .recruit__banner {
    width: calc(100% - 30px);
  }

  .recruit__banner {
    padding: 40px 18px 50px;
  }

  .faq__title {
    margin-bottom: 37px;
  }

  .faq__list {
    font-size: 14px;
    line-height: 18px;
  }

  .faq__form {
    padding: 37px 15px 25px;
  }

  .faq__form::before {
    bottom: 85%;
    background-size: 60%;
  }

  .faq .form__group {
    flex-wrap: wrap;
  }

  .faq .form__group input {
    width: 100%;
  }

  .faq .form__agree {
    font-size: 10px;
    line-height: 14px;
  }

  .rent {
    text-align: center;
    background-image: none;
    padding-bottom: 203px;
  }

  .rent::after {
    display: block;
  }

  .rent__title {
    max-width: 100%;
  }

  .rent p {
    max-width: 100%;
  }

  .rent__list {
    max-width: 95%;
    margin: 0 auto 42px;
  }

  .franch::after {
    display: block;
  }

  .franch {
    text-align: center;
    background-image: none;
    padding-bottom: 387px;
  }

  .franch__info {
    width: calc(100% - 30px);
  }

  .contacts {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .contacts__info {
    width: calc(100% - 30px);
  }

  .contacts__info {
    text-align: center;
  }

  .contacts__map {
    width: calc(100% - 30px);
  }

  .contacts__title {
    font-size: 23px;
    line-height: 25px;
  }

  .contacts__list {
    text-align: left;
  }

  .contacts__list li {
    margin-left: auto;
    margin-right: auto;
  }

  .footer__top {
    text-align: center;
  }

  .footer__menu {
    width: calc(100% - 30px);
  }

  .footer__contacts {
    text-align: center;
  }

  .footer__bottom {
    text-align: center;
  }

  .footer__copy {
    width: calc(100% - 30px);
  }

  .footer__pay {
    width: calc(100% - 30px);
  }

  .footer__pay {
    text-align: center;
  }

  .footer__pm {
    justify-content: center;
  }
}

@media screen and (max-width: 576px) {
  .way {
    padding-top: 48px;
    padding-bottom: 50px;
  }

  .way__item {
    width: calc(100% - 30px);
  }

  .way__header {
    margin-bottom: 30px;
  }

  .banner {
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 61px;
    text-align: center;
    padding-bottom: 400px;
    background-image: none;
  }

  .banner::after {
    display: block;
  }

  .banner__header {
    max-width: 100%;
  }

  .banner__descr {
    max-width: 100%;
  }

  .banner__btn {
    padding: 10px 25px;
  }

  .nut__banner {
    background-image: none;
  }

  .abon__item {
    width: calc(100% - 30px);
  }

  .abon__item:not(.abon__banner) {
    padding: 0;
  }

  .abon__item:not(.abon__banner) .abon__header {
    font-size: 40px;
  }

  .abon__btn {
    padding: 10px 40px;
  }

  .abon__banner::after {
    top: 65px;
  }

  .faq__form::before {
    left: 85%;
  }
}

@media screen and (max-width: 340px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .banner::after {
    background-position-y: bottom;
  }

  .abon__banner::after {
    top: 110px;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}