body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img,
abbr {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ul li {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

legend {
  color: #000;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  max-width: 1840px;
  margin: 0 auto;
  padding-left: 70px;
  padding-right: 70px;
}

::-webkit-input-placeholder {
  color: #666;
}

::-moz-placeholder {
  color: #666;
}

:-ms-input-placeholder {
  color: #666;
}

::placeholder {
  color: #666;
}

::-moz-selection {
  background-color: #F3D884;
  color: #fff;
}

::selection {
  background-color: #F3D884;
  color: #fff;
}

section {
  position: relative;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  color: #1e1e1e;
  min-width: 320px;
  position: relative;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
}

.section-title {
  font-size: 35px;
  line-height: 40px;
}

.section-subtitle {
  font-size: 18px;
  line-height: 24px;
}

/* Наследуем шрифты для инпутов и кнопок */

input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */

*:focus:not(:focus-visible) {
  outline: none !important;
}

input[type='submit'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.text-center {
  text-align: center;
}

.btn {
  display: inline-block;
  padding: 10px 16px;
  color: #1e1e1e;
  text-decoration: none;
  font-size: 13px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  text-align: center;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: linear-gradient(90deg, rgba(218, 175, 83), #d19e4d, #fff9b1, #f1d37d);
  box-shadow: 0px 6px 32px 0px rgba(1, 26, 45, 0.75);
}

.btn:hover {
  -webkit-animation: none;
          animation: none;
  box-shadow: none;
  -webkit-transform: translateY(-5px) scale(1.02);
          transform: translateY(-5px) scale(1.02);
  background: linear-gradient(90deg, rgba(218, 175, 83), #d19e4d, #f1d37d);
}

.btn-o {
  border: 2px solid #013b66;
  color: #013b66;
  background: transparent;
  box-shadow: none;
}

.btn-o:hover {
  color: #ffffff;
  background: #013b66;
  -webkit-transform: none;
          transform: none;
}

.btn-o-w {
  border-color: #ffffff;
  color: white;
}

.btn-o-w:hover {
  color: #013b66;
  background: #ffffff;
  border-color: #013b66;
}

.header {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 2;
}

.header a {
  color: inherit;
  text-decoration: none;
}

.header a:hover {
  text-decoration: underline;
}

.header__top {
  padding: 8px 0;
  color: #ffffff;
  background-color: #013b66;
}

.header__top-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__top-content p {
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}

.header__top-content a {
  margin-left: 20px;
}

.header__top-content a + a {
  margin-left: 15px;
}

.header__bottom {
  padding: 14px 40px;
  max-width: 1840px;
  margin: 0 auto;
  background: transparent;
}

.header__bottom-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo {
  padding: 0 30px;
}

.header__menu {
  display: flex;
  flex-wrap: wrap;
}

.header__menu li {
  margin: 0 30px;
  font-weight: 400;
  font-size: 14px;
}

.header__login {
  flex-shrink: 0;
  display: flex;
  align-items: center;
}

.header__login svg {
  margin-right: 15px;
}

.header__login a {
  text-decoration: underline;
}

.header__more {
  flex-shrink: 0;
  display: flex;
  align-items: center;
}

.header__more li + li {
  margin-left: 60px;
}

.hero {
  background-color: #76757a;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: bottom, center;
  background-size: contain, cover;
  background-image: url(../img/goldypole-text.svg), url(../img/hero-bg-1.jpg);
}

.hero__content {
  height: 100vh;
  max-height: 900px;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.hero__title {
  margin-bottom: 45px;
  font-size: 70px;
  line-height: 75px;
  font-weight: 400;
}

.hero__btn {
  padding: 10px 60px;
}

.way {
  padding-top: 70px;
  padding-bottom: 120px;
}

.way__title {
  margin-bottom: 20px;
}

.way__subtitle {
  margin-bottom: 56px;
}

.way__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  justify-content: center;
  max-width: 1030px;
  margin: 0 auto;
}

.way__item {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(33.333333333333336% - 30px);
  margin-bottom: 53px;
  text-align: center;
}

.way__item:hover .way__btn-wrapper {
  -webkit-transform: none;
          transform: none;
}

.way__pic {
  position: relative;
  margin: 0 auto;
  margin-bottom: 50px;
  width: 237px;
  height: 237px;
  border-radius: 50%;
  border: 10px solid #013b66;
  box-shadow: 0px 6px 32px 0px rgba(199, 199, 199, 0.75);
  background-color: #013b66;
  overflow: hidden;
}

.way__pic img {
  -o-object-fit: cover;
     object-fit: cover;
}

.way__header {
  margin-bottom: 20px;
  font-size: 25px;
  line-height: 33px;
  font-weight: 700;
  text-transform: uppercase;
}

.way__descr {
  font-size: 14px;
  line-height: 18px;
  max-width: 290px;
  margin: 0 auto;
}

.way__btn-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all 0.3s ease;
  background: linear-gradient(0deg, rgba(1, 62, 107, 0.7) 0%, #01223b 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}

.banner {
  position: relative;
  padding-top: 94px;
  padding-left: 143px;
  padding-bottom: 68px;
  background-color: #fff;
  background-image: url(../img/way-banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: right;
  background-position-y: center;
  border-radius: 20px;
  background-color: #e3d3e5;
  box-shadow: 0px 6px 32px 0px rgba(199, 199, 199, 0.75);
}

.banner::after {
  display: none;
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 100%;
  height: 400px;
  background-repeat: no-repeat;
  background-position-y: -10px;
  background-position-x: center;
  background-size: cover;
  background-image: url(../img/way-mob.jpg);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.banner__box {
  padding-top: 92px;
  padding-bottom: 97px;
}

.banner__box--p {
  padding: 0;
  margin-top: -145px;
}

.banner__header {
  margin-bottom: 24px;
  max-width: 65%;
  font-size: 35px;
  line-height: 40px;
}

.banner__descr {
  margin-bottom: 47px;
  max-width: 45%;
  font-size: 18px;
  line-height: 24px;
}

.banner__btn {
  margin-bottom: 30px;
  padding: 10px 60px;
}

.nut__banner {
  background-color: #5084a9;
  background-image: url(../img/nut-bg.jpg);
}

.nut__banner::after {
  background-image: url(../img/nut-mob.jpg);
}

.pay__banner {
  background-image: url(../img/pay-banner.jpg);
}

.pay__banner::after {
  background-image: url(../img/pay-mob.jpg);
}

.abon {
  padding-top: 60px;
  padding-bottom: 190px;
  color: #ffffff;
  background-color: #76757a;
  background-repeat: no-repeat;
  background-image: url(../img/goldypole-only-text.svg);
  background-position-x: left;
  background-position-y: top;
}

.abon__title {
  margin-bottom: 20px;
}

.abon__subtitle {
  margin-bottom: 70px;
  font-size: 16px;
}

.abon__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  justify-content: center;
  align-items: center;
  max-width: 1170px;
  margin: 0 auto;
}

.abon__item {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(50% - 30px);
  margin-bottom: 70px;
  padding: 0 60px;
}

.abon__item:nth-child(even):not(.abon__banner) {
  border-left: 1px solid #ffffff;
}

.abon__item:not(.abon__banner) .abon__header {
  margin-bottom: -13px;
  font-weight: 700;
  font-size: 60px;
  text-transform: uppercase;
  color: #76757a;
  text-shadow: 0 -1px 1px #F3D884, 0 -1px 1px #F3D884, 0 1px 1px #F3D884, 0 1px 1px #F3D884, -1px 0 1px #F3D884, 1px 0 1px #F3D884, -1px 0 1px #F3D884, 1px 0 1px #F3D884, -1px -1px 1px #F3D884, 1px -1px 1px #F3D884, -1px 1px 1px #F3D884, 1px 1px 1px #F3D884, -1px -1px 1px #F3D884, 1px -1px 1px #F3D884, -1px 1px 1px #F3D884, 1px 1px 1px #F3D884;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.abon__item:not(.abon__banner) .abon__count {
  margin-bottom: 14px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 32px;
}

.abon__descr {
  margin-bottom: 38px;
  max-width: 380px;
}

.abon__descr li {
  margin-bottom: 17px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.abon__pay {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.abon__price {
  margin-right: 35px;
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 35px;
}

.abon__btn {
  padding: 10px 60px;
  margin-bottom: 35px;
}

.abon__banner {
  padding: 50px 37px 35px;
  border-radius: 15px;
  border: 3px solid #F3D884;
  border-left-color: #F3D884;
}

.abon__banner .abon__header {
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  color: #ffffff;
}

.abon__banner .abon__count {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

.shed {
  padding-top: 125px;
}

.shed__title {
  margin-bottom: 60px;
}

.shed__box {
  background-color: #76757a;
  min-height: 700px;
}

.faq {
  padding-top: 72px;
  padding-bottom: 83px;
}

.faq__content {
  max-width: 830px;
  margin: 0 auto;
}

.faq__title {
  margin-bottom: 60px;
}

.faq__list {
  font-size: 16px;
  line-height: 21px;
}

.faq__item {
  margin-bottom: 35px;
  padding-left: 40px;
}

.faq__question {
  position: relative;
  cursor: pointer;
}

.faq__question::before {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: -40px;
  width: 20px;
  height: 20px;
  background: linear-gradient(#1e1e1e, #1e1e1e), linear-gradient(#1e1e1e, #1e1e1e);
  background-position: center;
  background-size: 100% 2px,2px 100%;
  background-repeat: no-repeat;
}

.faq__question--open::before {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: -40px;
  width: 20px;
  height: 20px;
  background: linear-gradient(#1e1e1e, #1e1e1e);
  background-position: center;
  background-size: 100% 2px;
  background-repeat: no-repeat;
}

.faq__answer {
  margin-top: 13px;
}

.rent {
  padding-top: 78px;
  padding-bottom: 68px;
  color: #ffffff;
  background-color: #013b66;
  background-image: url(../img/rent-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}

.rent::after {
  display: none;
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 100%;
  height: 203px;
  background: url(../img/rent-mob.jpg) no-repeat center / cover;
}

.rent__content {
  max-width: 1170px;
  margin: 0 auto;
}

.rent__title {
  margin-bottom: 24px;
  max-width: 50%;
}

.rent p {
  max-width: 50%;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 50px;
}

.rent__list {
  max-width: 60%;
  margin-bottom: 42px;
}

.rent__list li {
  margin-bottom: 3px;
}

.rent__btn {
  margin-bottom: 36px;
  padding: 10px 60px;
}

.franch {
  padding-top: 158px;
  padding-bottom: 107px;
  background-color: #76757a;
  background-image: url(../img/franch.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: right;
  background-position-y: center;
  color: #ffffff;
}

.franch::after {
  display: none;
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 100%;
  height: 387px;
  background: url(../img/franch-mob.jpg) no-repeat right center / cover;
}

.franch__content {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  max-width: 1170px;
  margin: 0 auto;
}

.franch__info {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(66.66666666666667% - 30px);
}

.franch__title {
  margin-bottom: 30px;
}

.franch p {
  max-width: 580px;
  margin-bottom: 17px;
  font-size: 18px;
}

.franch p + p {
  margin-bottom: 50px;
}

.franch__btn {
  margin-bottom: 36px;
  padding: 10px 60px;
}

.contacts {
  padding-top: 63px;
  padding-bottom: 65px;
}

.contacts__content {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  align-items: center;
  max-width: 1170px;
  margin: 0 auto;
}

.contacts__info {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(41.66666666666667% - 30px);
  margin-bottom: 40px;
}

.contacts__map {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(58.333333333333336% - 30px);
}

.contacts__title {
  margin-bottom: 43px;
  font-size: 18px;
  line-height: 24px;
}

.contacts__list {
  margin-bottom: 37px;
  font-weight: 400;
}

.contacts__list li {
  position: relative;
  margin-bottom: 15px;
  padding-left: 24px;
  max-width: 210px;
}

.contacts__list li::before {
  position: absolute;
  content: '';
  top: 0;
}

.contacts__list li:first-child:before {
  left: -10px;
  width: 34px;
  height: 46px;
  background: url(../img/contacts-pick.svg) no-repeat;
}

.contacts__list li:last-child:before {
  left: -6px;
  width: 26px;
  height: 26px;
  background: url(../img/contacts-phone.svg) no-repeat;
}

.contacts__list a {
  text-decoration: none;
  color: inherit;
}

.contacts__list a:hover {
  text-decoration: underline;
}

.contacts__map {
  height: 350px;
  background: url(../img/map.jpg) no-repeat center / cover;
}

.footer {
  padding-top: 35px;
  padding-bottom: 24px;
  color: #ffffff;
  background-color: #013b66;
}

.footer a {
  color: #ffffff;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.footer__top {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.footer .logo {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(25% - 30px);
  margin-bottom: 30px;
}

.footer .logo img {
  -webkit-filter: invert(99%) sepia(89%) saturate(485%) hue-rotate(186deg) brightness(119%) contrast(100%);
          filter: invert(99%) sepia(89%) saturate(485%) hue-rotate(186deg) brightness(119%) contrast(100%);
}

.footer__menu {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(16.666666666666668% - 30px);
  margin-bottom: 30px;
}

.footer__menu li {
  margin-bottom: 3px;
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
}

.footer__contacts {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(25% - 30px);
  margin-bottom: 30px;
  text-align: right;
}

.footer__contacts p {
  margin-bottom: 3px;
  font-size: 18px;
  font-weight: 500;
}

.footer__contacts p + p {
  margin-bottom: 20px;
}

.footer__social li {
  display: inline-block;
}

.footer__social li + li {
  margin-left: 5px;
}

.footer__bottom {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.footer__copy {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(50% - 30px);
  margin-bottom: 30px;
}

.footer__pay {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(50% - 30px);
  margin-bottom: 30px;
  text-align: right;
}

.footer__pm {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.footer__pm li + li {
  margin-left: 15px;
}

.glightbox-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999 !important;
  touch-action: none;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  outline: none;
  overflow: hidden;
}

.glightbox-container.inactive {
  display: none;
}

.glightbox-container .gcontainer {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 9999;
  overflow: hidden;
}

.glightbox-container .gslider {
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex !important;
  justify-content: center;
  align-items: center;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.glightbox-container .gslide {
  width: 100%;
  position: absolute;
  opacity: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

.glightbox-container .gslide.current {
  opacity: 1;
  z-index: 99999;
  position: relative;
}

.glightbox-container .gslide.prev {
  opacity: 1;
  z-index: 9999;
}

.glightbox-container .gslide-inner-content {
  width: 100%;
}

.glightbox-container .ginner-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 100%;
  margin: auto;
  height: 100vh;
}

.glightbox-container .ginner-container.gvideo-container {
  width: 100%;
}

.glightbox-container .ginner-container.desc-bottom,
.glightbox-container .ginner-container.desc-top {
  flex-direction: column;
}

.glightbox-container .ginner-container.desc-left,
.glightbox-container .ginner-container.desc-right {
  max-width: 100% !important;
}

.gslide iframe,
.gslide video {
  outline: none !important;
  border: none;
  min-height: 165px;
  -webkit-overflow-scrolling: touch;
  touch-action: auto;
}

.gslide:not(.current) {
  pointer-events: none;
}

.gslide-image {
  align-items: center;
}

.gslide-image img {
  max-height: 100vh;
  display: block;
  padding: 0;
  float: none;
  outline: none;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  max-width: 100vw;
  width: auto;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
  touch-action: none;
  margin: auto;
  min-width: 200px;
}

.desc-top .gslide-image img,
.desc-bottom .gslide-image img {
  width: auto;
}

.desc-left .gslide-image img,
.desc-right .gslide-image img {
  width: auto;
  max-width: 100%;
}

.gslide-image img.zoomable {
  position: relative;
}

.gslide-image img.dragging {
  cursor: -webkit-grabbing !important;
  cursor: grabbing !important;
  transition: none;
}

.gslide-video {
  position: relative;
  max-width: 100vh;
  width: 100% !important;
}

.gslide-video .gvideo-wrapper {
  width: 100%;
  /* max-width: 160vmin; */
  margin: auto;
}

.gslide-video::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 0, 0, 0.34);
  display: none;
}

.gslide-video.playing::before {
  display: none;
}

.gslide-video.fullscreen {
  max-width: 100% !important;
  min-width: 100%;
  height: 75vh;
}

.gslide-video.fullscreen video {
  max-width: 100% !important;
  width: 100% !important;
}

.gslide-inline {
  background: #fff;
  text-align: left;
  max-height: calc(100vh - 40px);
  overflow: auto;
  max-width: 100%;
}

.gslide-inline .ginlined-content {
  padding: 20px;
  width: 100%;
}

.gslide-inline .dragging {
  cursor: -webkit-grabbing !important;
  cursor: grabbing !important;
  transition: none;
}

.ginlined-content {
  overflow: auto;
  display: block !important;
  opacity: 1;
}

.gslide-external {
  display: flex;
  width: 100%;
  min-width: 100%;
  background: #fff;
  padding: 0;
  overflow: auto;
  max-height: 75vh;
  height: 100%;
}

.gslide-media {
  display: flex;
  width: auto;
}

.zoomed .gslide-media {
  box-shadow: none !important;
}

.desc-top .gslide-media,
.desc-bottom .gslide-media {
  margin: 0 auto;
  flex-direction: column;
}

.gslide-description {
  position: relative;
  flex: 1 0 100%;
}

.gslide-description.description-left,
.gslide-description.description-right {
  max-width: 100%;
}

.gslide-description.description-bottom,
.gslide-description.description-top {
  margin: 0 auto;
  width: 100%;
}

.gslide-description p {
  margin-bottom: 12px;
}

.gslide-description p:last-child {
  margin-bottom: 0;
}

.zoomed .gslide-description {
  display: none;
}

.glightbox-button-hidden {
  display: none;
}

/*
 * Description for mobiles
 * something like facebook does the description
 * for the photos
*/

.glightbox-mobile .glightbox-container .gslide-description {
  height: auto !important;
  width: 100%;
  background: transparent;
  position: absolute;
  bottom: 0;
  padding: 19px 11px;
  max-width: 100vw !important;
  order: 2 !important;
  max-height: 78vh;
  overflow: auto !important;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 100%);
  transition: opacity 0.3s linear;
  padding-bottom: 50px;
}

.glightbox-mobile .glightbox-container .gslide-title {
  color: #fff;
  font-size: 1em;
}

.glightbox-mobile .glightbox-container .gslide-desc {
  color: #a1a1a1;
}

.glightbox-mobile .glightbox-container .gslide-desc a {
  color: #fff;
  font-weight: bold;
}

.glightbox-mobile .glightbox-container .gslide-desc * {
  color: inherit;
}

.glightbox-mobile .glightbox-container .gslide-desc string {
  color: #fff;
}

.glightbox-mobile .glightbox-container .gslide-desc .desc-more {
  color: #fff;
  opacity: 0.4;
}

.gdesc-open .gslide-media {
  transition: opacity 0.5s ease;
  opacity: 0.4;
}

.gdesc-open .gdesc-inner {
  padding-bottom: 30px;
}

.gdesc-closed .gslide-media {
  transition: opacity 0.5s ease;
  opacity: 1;
}

.greset {
  transition: all 0.3s ease;
}

.gabsolute {
  position: absolute;
}

.grelative {
  position: relative;
}

.glightbox-desc {
  display: none !important;
}

.glightbox-open {
  overflow: hidden;
}

.gloader {
  height: 25px;
  width: 25px;
  -webkit-animation: lightboxLoader 0.8s infinite linear;
  animation: lightboxLoader 0.8s infinite linear;
  border: 2px solid #fff;
  border-right-color: transparent;
  border-radius: 50%;
  position: absolute;
  display: block;
  z-index: 9999;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 47%;
}

.goverlay {
  width: 100%;
  height: calc(100vh + 1px);
  position: fixed;
  top: -1px;
  left: 0;
  background: #000;
  will-change: opacity;
}

.glightbox-mobile .goverlay {
  background: #000;
}

.gprev,
.gnext,
.gclose {
  z-index: 99999;
  cursor: pointer;
  width: 26px;
  height: 44px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.gprev svg,
.gnext svg,
.gclose svg {
  display: block;
  width: 25px;
  height: auto;
  margin: 0;
  padding: 0;
}

.gprev.disabled,
.gnext.disabled,
.gclose.disabled {
  opacity: 0.1;
}

.gprev .garrow,
.gnext .garrow,
.gclose .garrow {
  stroke: #fff;
}

.gbtn.focused {
  outline: 2px solid #0f3d81;
}

iframe.wait-autoplay {
  opacity: 0;
}

.glightbox-closing .gnext,
.glightbox-closing .gprev,
.glightbox-closing .gclose {
  opacity: 0 !important;
}

/*Skin */

.glightbox-clean .gslide-description {
  background: #fff;
}

.glightbox-clean .gdesc-inner {
  padding: 22px 20px;
}

.glightbox-clean .gslide-title {
  font-size: 1em;
  font-weight: normal;
  font-family: arial;
  color: #000;
  margin-bottom: 19px;
  line-height: 1.4em;
}

.glightbox-clean .gslide-desc {
  font-size: 0.86em;
  margin-bottom: 0;
  font-family: arial;
  line-height: 1.4em;
}

.glightbox-clean .gslide-video {
  background: #000;
}

.glightbox-clean .gprev,
.glightbox-clean .gnext,
.glightbox-clean .gclose {
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 4px;
}

.glightbox-clean .gprev path,
.glightbox-clean .gnext path,
.glightbox-clean .gclose path {
  fill: #fff;
}

.glightbox-clean .gprev {
  position: absolute;
  top: -100%;
  left: 30px;
  width: 40px;
  height: 50px;
}

.glightbox-clean .gnext {
  position: absolute;
  top: -100%;
  right: 30px;
  width: 40px;
  height: 50px;
}

.glightbox-clean .gclose {
  width: 35px;
  height: 35px;
  top: 15px;
  right: 10px;
  position: absolute;
}

.glightbox-clean .gclose svg {
  width: 18px;
  height: auto;
}

.glightbox-clean .gclose:hover {
  opacity: 1;
}

/*CSS Animations*/

.gfadeIn {
  -webkit-animation: gfadeIn 0.5s ease;
  animation: gfadeIn 0.5s ease;
}

.gfadeOut {
  -webkit-animation: gfadeOut 0.5s ease;
  animation: gfadeOut 0.5s ease;
}

.gslideOutLeft {
  -webkit-animation: gslideOutLeft 0.3s ease;
  animation: gslideOutLeft 0.3s ease;
}

.gslideInLeft {
  -webkit-animation: gslideInLeft 0.3s ease;
  animation: gslideInLeft 0.3s ease;
}

.gslideOutRight {
  -webkit-animation: gslideOutRight 0.3s ease;
  animation: gslideOutRight 0.3s ease;
}

.gslideInRight {
  -webkit-animation: gslideInRight 0.3s ease;
  animation: gslideInRight 0.3s ease;
}

.gzoomIn {
  -webkit-animation: gzoomIn 0.5s ease;
  animation: gzoomIn 0.5s ease;
}

.gzoomOut {
  -webkit-animation: gzoomOut 0.5s ease;
  animation: gzoomOut 0.5s ease;
}

@-webkit-keyframes lightboxLoader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes lightboxLoader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes gfadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes gfadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes gfadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes gfadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@-webkit-keyframes gslideInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-60%, 0, 0);
    transform: translate3d(-60%, 0, 0);
  }

  to {
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes gslideInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-60%, 0, 0);
    transform: translate3d(-60%, 0, 0);
  }

  to {
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes gslideOutLeft {
  from {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    -webkit-transform: translate3d(-60%, 0, 0);
    transform: translate3d(-60%, 0, 0);
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes gslideOutLeft {
  from {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    -webkit-transform: translate3d(-60%, 0, 0);
    transform: translate3d(-60%, 0, 0);
    opacity: 0;
    visibility: hidden;
  }
}

@-webkit-keyframes gslideInRight {
  from {
    opacity: 0;
    visibility: visible;
    -webkit-transform: translate3d(60%, 0, 0);
    transform: translate3d(60%, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes gslideInRight {
  from {
    opacity: 0;
    visibility: visible;
    -webkit-transform: translate3d(60%, 0, 0);
    transform: translate3d(60%, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes gslideOutRight {
  from {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    -webkit-transform: translate3d(60%, 0, 0);
    transform: translate3d(60%, 0, 0);
    opacity: 0;
  }
}

@keyframes gslideOutRight {
  from {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    -webkit-transform: translate3d(60%, 0, 0);
    transform: translate3d(60%, 0, 0);
    opacity: 0;
  }
}

@-webkit-keyframes gzoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  to {
    opacity: 1;
  }
}

@keyframes gzoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes gzoomOut {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  to {
    opacity: 0;
  }
}

@keyframes gzoomOut {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  to {
    opacity: 0;
  }
}

.glightbox-container .ginner-container {
  align-items: center;
}

.gslide-inline {
  padding: 54px 16px 23px;
  border-radius: 5px;
  background: #ffffff url(../img/popup-bg.jpg) no-repeat center / cover;
}

.gslide-inline .ginlined-content {
  padding: 0;
  text-align: center;
}

.goverlay {
  height: 100%;
}

.popup__header {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 15px;
}

.popup__btn {
  margin-top: 50px;
}

@media (min-width: 769px) {
  .glightbox-container .ginner-container {
    width: auto;
    height: auto;
    flex-direction: row;
  }

  .glightbox-container .ginner-container.desc-top .gslide-description {
    order: 0;
  }

  .glightbox-container .ginner-container.desc-top .gslide-image,
  .glightbox-container .ginner-container.desc-top .gslide-image img {
    order: 1;
  }

  .glightbox-container .ginner-container.desc-left .gslide-description {
    order: 0;
  }

  .glightbox-container .ginner-container.desc-left .gslide-image {
    order: 1;
  }

  .gslide-image img {
    max-height: 97vh;
    max-width: 100%;
  }

  .gslide-image img.zoomable {
    cursor: zoom-in;
  }

  .zoomed .gslide-image img.zoomable {
    cursor: -webkit-grab;
    cursor: grab;
  }

  .gslide-inline {
    max-height: 95vh;
  }

  .gslide-external {
    max-height: 100vh;
  }

  .gslide-description.description-left,
  .gslide-description.description-right {
    max-width: 275px;
  }

  .glightbox-open {
    height: auto;
  }

  .goverlay {
    background: rgba(0, 0, 0, 0.92);
  }

  .glightbox-clean .gslide-media {
    box-shadow: 1px 2px 9px 0px rgba(0, 0, 0, 0.65);
  }

  .glightbox-clean .description-left .gdesc-inner,
  .glightbox-clean .description-right .gdesc-inner {
    position: absolute;
    height: 100%;
    overflow-y: auto;
  }

  .glightbox-clean .gprev,
  .glightbox-clean .gnext,
  .glightbox-clean .gclose {
    background-color: rgba(0, 0, 0, 0.32);
  }

  .glightbox-clean .gprev:hover,
  .glightbox-clean .gnext:hover,
  .glightbox-clean .gclose:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }

  .glightbox-clean .gprev {
    top: 45%;
  }

  .glightbox-clean .gnext {
    top: 45%;
  }
}

@media (min-width: 992px) {
  .glightbox-clean .gclose {
    opacity: 0.7;
    right: 20px;
  }
}

@media screen and (max-width: 1200px) {
  .header__more li + li {
    margin-left: 40px;
  }

  .hero {
    background-position-x: center, -600px;
  }

  .hero__title {
    font-size: 35px;
    line-height: 40px;
  }

  .banner {
    padding: 54px 34px;
  }

  .banner__header {
    font-size: 23px;
    line-height: 25px;
  }

  .banner__descr {
    font-size: 16px;
    line-height: 21px;
  }

  .abon__item {
    text-align: center;
  }

  .abon__item:not(.abon__banner) {
    padding: 0 36px;
  }

  .abon__item:not(.abon__banner) .abon__header {
    font-size: 45px;
  }

  .abon__pay {
    justify-content: center;
  }

  .abon__price {
    margin-left: 35px;
  }

  .abon__banner .abon__header {
    font-size: 25px;
    line-height: 30px;
  }

  .abon__banner .abon__count {
    font-size: 16px;
    line-height: 21px;
  }

  .footer__menu {
    width: calc(25% - 30px);
  }

  .footer__contacts {
    width: calc(100% - 30px);
  }
}

@media screen and (max-width: 992px) {
  .container {
    padding-left: 70px;
    padding-right: 70px;
  }

  .section-title {
    font-size: 25px;
    line-height: 30px;
  }

  .section-subtitle {
    font-size: 16px;
    line-height: 24px;
  }

  .header__more li + li {
    margin-left: 20px;
  }

  .hero {
    background-position-x: center, -760px;
  }

  .way {
    padding-top: 65px;
    padding-bottom: 63px;
  }

  .way__list {
    max-width: 100%;
  }

  .way__item {
    width: calc(50% - 30px);
  }

  .way__header {
    margin-bottom: 23px;
    font-size: 21px;
    line-height: 25px;
  }

  .banner {
    background-position-x: 74%;
  }

  .abon__item {
    width: calc(66.66666666666667% - 30px);
  }

  .abon__item:nth-child(even):not(.abon__banner) {
    border-left: none;
  }

  .abon__item:not(.abon__banner) {
    border-bottom: 1px solid #ffffff;
  }

  .abon__descr {
    margin: 0 auto;
  }

  .franch {
    padding-top: 48px;
    padding-bottom: 65px;
    background-position-x: -550px;
  }

  .footer .logo {
    width: calc(100% - 30px);
  }

  .footer__menu {
    width: calc(33.333333333333336% - 30px);
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .header__top-content p {
    display: none;
  }

  .header__top-content a {
    margin-left: 0;
  }

  .hero {
    background-position-x: center;
    background-image: url(../img/goldypole-text.svg), url(../img/hero-mob-bg-1.jpg);
  }

  .hero__content {
    align-items: center;
    text-align: center;
  }

  .shed {
    padding-top: 55px;
  }

  .faq__title {
    margin-bottom: 37px;
  }

  .faq__list {
    font-size: 14px;
    line-height: 18px;
  }

  .rent {
    text-align: center;
    background-image: none;
    padding-bottom: 203px;
  }

  .rent::after {
    display: block;
  }

  .rent__title {
    max-width: 100%;
  }

  .rent p {
    max-width: 100%;
  }

  .rent__list {
    max-width: 100%;
  }

  .franch::after {
    display: block;
  }

  .franch {
    text-align: center;
    background-image: none;
    padding-bottom: 387px;
  }

  .franch__info {
    width: calc(100% - 30px);
  }

  .contacts {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .contacts__info {
    width: calc(100% - 30px);
  }

  .contacts__info {
    text-align: center;
  }

  .contacts__map {
    width: calc(100% - 30px);
  }

  .contacts__title {
    font-size: 23px;
    line-height: 25px;
  }

  .contacts__list {
    text-align: left;
  }

  .contacts__list li {
    margin-left: auto;
    margin-right: auto;
  }

  .footer__top {
    text-align: center;
  }

  .footer__menu {
    width: calc(100% - 30px);
  }

  .footer__contacts {
    text-align: center;
  }

  .footer__bottom {
    text-align: center;
  }

  .footer__copy {
    width: calc(100% - 30px);
  }

  .footer__pay {
    width: calc(100% - 30px);
  }

  .footer__pay {
    text-align: center;
  }

  .footer__pm {
    justify-content: center;
  }
}

@media screen and (max-width: 576px) {
  .way {
    padding-top: 48px;
    padding-bottom: 50px;
  }

  .way__item {
    width: calc(100% - 30px);
  }

  .way__header {
    margin-bottom: 30px;
  }

  .banner {
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 61px;
    text-align: center;
    padding-bottom: 400px;
    background-image: none;
  }

  .banner::after {
    display: block;
  }

  .banner__header {
    max-width: 100%;
  }

  .banner__descr {
    max-width: 100%;
  }

  .banner__btn {
    padding: 10px 25px;
  }

  .nut__banner {
    background-image: none;
  }

  .abon__item {
    width: calc(100% - 30px);
  }

  .abon__item:not(.abon__banner) {
    padding: 0;
  }

  .abon__item:not(.abon__banner) .abon__header {
    font-size: 40px;
  }

  .abon__btn {
    padding: 10px 40px;
  }
}

@media screen and (max-width: 340px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .banner::after {
    background-position-y: bottom;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@media screen and (max-height: 420px) {
  .goverlay {
    background: #000;
  }
}