.banner {

	padding-top: 94px;
	padding-left: 143px;
	padding-bottom: 68px;
	
	border-radius: 20px;
	background-color: rgb(227, 211, 229);
  box-shadow: 0px 6px 32px 0px rgba(199, 199, 199, 0.75);

	&__header {
		margin-bottom: 30px;

		font-size: 35px;
		line-height: 40px;
		// font-weight: 500;
	}

	&__descr {
		margin-bottom: 47px;
		max-width: 550px;

		font-size: 18px;
		line-height: 24px;
	}

}